* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --text-color: #6FE4FF;
}

body {
    background-color: rgb(53, 53, 53);
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.main__title {
    color: var(--text-color);
    font-size: 60px;
    line-height: 0.9;
    font-weight: normal;
}

.main__button {
    font-size: 24px;
    margin-top: 60px;
    padding: 15px 33px;
    background-color: var(--text-color);
    color: black;
    border: none;
    cursor: pointer;
    transition: 200ms;
}

.main__button:hover {
    opacity: 0.8;
}

.main__button:active {
    opacity: 0.5;
}

.main__img-wrap {
    width: 100%;
}

.main__img {
    max-width: 400px;
}

.main__quote {
    font-size: 24px;
    color: var(--text-color);
    padding: 32px 94px;
    text-align: left;
    height: 100%;
    display: flex;
    align-items: center;
}

.main__quote-wrap {
    opacity: 0.8;
    height: 160px;
}

.main__quote-wrap::before,
.main__quote-wrap::after {
    content: "";
    border-top: 3px solid var(--text-color);
    display: block;
    width: 100%;
    box-shadow: 0 0 16px 4px var(--text-color);
}

.main__img, .main__quote {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.main__img.show, .main__quote.show {
    opacity: 1;
    transition: opacity 0.5s ease;
}